.header nav {
    /* background-color: #a7b3ab; */
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    color:#ffc107;
}